h1{
    color:white;
    font-size:60px;
    font-family:monotype corsiva;
    text-align:center;
    text-shadow:6px 6px 10px rgba(255, 0, 0, 0.66);
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}
#main{
    text-align: center;
    margin-top: 45px;
    
}
body{
    width: 100%;
    height: 100vh;
    /* display: inline-block; */
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#e89292, #75acfa);
}
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background:transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);

}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
    border: #ffffff solid 2px;
    border-radius: 12px;
    
}

input::placeholder{
    color: #ffffff;

}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #000000;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgb(209 225 137 / 20%);
    cursor: pointer;
}
button:hover{
    background-color:rgb(188, 209, 209);
}
.equal{
    background-color: rgb(0, 110, 255);
}
.oper{
    color: rgb(219, 10, 177);
}